body {
    font-family: Arial, sans-serif;
    background-color: #8db5ea;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(141, 112, 112, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 94%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    color: red;
    margin-top: 10px;
}


body.secure {
    background-color: #e0f7fa;
    text-align: center;
    padding-top: 50px;
}

button.logout {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.logout:hover {
    background-color: #c82333;
}